<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <title>이메일 인증</title>
</head>
<div layout:fragment="content">
    <div class="d-flex justify-content-center align-items-center min-vh-100">
        <div class="card shadow-sm" style="width: 400px;">
            <div class="card-body p-4">
                <h2 class="text-center mb-4">이메일 인증</h2>
                <form th:action="@{/auth}" method="post">
                    <input type="hidden" name="email" th:value="${email}"/>
                    <div class="mb-3">
                        <label for="authNumber" class="form-label">인증번호</label>
                        <input type="text" class="form-control" id="authNumber" name="authNumber"
                               th:value="${authNumber}" placeholder="인증번호를 입력해주세요" required/>
                    </div>
                    <button type="submit" class="btn btn-primary w-100">
                        인증하기
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="script">
    <script th:if="${message}">
        alert([[${message}]]);
        // 성공시에만 로그인 페이지로 이동
        var redirectUrl = [[${redirectUrl}]];
        if (redirectUrl) {
            window.location.href = redirectUrl;
        }
    </script>
</th:block>
</html>