<header th:fragment="headerFragment" xmlns:th="http://www.w3.org/1999/xhtml">

        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" th:href="@{/}">
                    <img  th:src="@{/img/svg/logo.svg}" alt="icon">
                    All For One
                </a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link active" data-text="Content">Content</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item"  th:href="@{/review/sub}">드라마</a></li>
                                <li><a class="dropdown-item"  th:href="@{/review/index}">영화</a></li>
                                <li><a class="dropdown-item" th:href="@{/review/index}">소설</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" data-text="Products">Products</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" th:href="@{/review/index}">의류</a></li>
                                <li><a class="dropdown-item" th:href="@{/review/index}">가전제품</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" data-text="Location/Culture">Location/Culture</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" th:href="@{/review/index}">맛집</a></li>
                                <li><a class="dropdown-item" th:href="@{/review/index}">놀거리</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link"  th:href="@{/notice}" data-text="Notices">Notices</a>
                            <ul class="dropdown-menu dropdown-menu-last">
                                <li></li>
                                <li></li>
                            </ul>
                        </li>
                    </ul>
                    <a class="navbar-brand" sec:authorize="isAnonymous()" th:href="@{/user/login}">
                        <img th:src="@{/img/svg/login-icon.svg}" alt="icon">
                    </a>
                    <a class="navbar-brand" sec:authorize="isAuthenticated()" th:href="@{/user/logout}">
                        <img th:src="@{/img/svg/login.svg}" alt="icon">
                    </a>
                </div>
            </div>
        </nav>

</header>>
